* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: whitesmoke;
}

.accordion {
  margin: 0 auto;
  width: 400px;
  list-style: none;
  text-align: left;
  background-color: white;
  box-shadow: 10px 5px 5px rgba(0, 0, 139, .1);
}

.accordion-item {
  position: relative;
  width: 100%;
  border-bottom: 0.5px solid lightgray;
  padding: 20px;
}

.accordion-item:nth-of-type(1) {
  border-top: 10px solid rgba(0, 0, 139, 1);
}

.accordion-title {
  padding-left: 10px;
}

.accordion-title::before {
  position: absolute;
  content: '+';
  left: 15px;
}

.open .accordion-title::before {
  content: '-';
}

.accordion-content {
  display: none;
}